In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('NHL_game_log_all.csv')

In [75]:
df.head()

,Rk,Date,G,Age,Tm,Location,Opp,Result,Goals,Assists,PTS,PIM,Player,Season,Player_Season_Num,Career_Game_Num
0,1,1997-12-06,1,22,ANA,A,PIT,L,0,0,0,0,Antti Aalto,1997-1998,1,1
1,2,1997-12-10,2,22,ANA,H,PIT,L,0,0,0,0,Antti Aalto,1997-1998,1,2
2,3,1997-12-12,3,22,ANA,H,WSH,W,0,0,0,0,Antti Aalto,1997-1998,1,3
3,1,1998-10-10,1,23,ANA,A,WSH,L,0,0,0,0,Antti Aalto,1998-1999,2,4
4,2,1998-10-11,2,23,ANA,A,PHI,L,0,0,0,0,Antti Aalto,1998-1999,2,5

In [33]:
df['Season'] = df.Date.apply(lambda x: f'{x[0:4]}-{str(int(x[0:4])+1)}' if int(x[5:7])>=7 else f'{str(int(x[0:4])-1)}-{x[0:4]}')

df['Tm'] = df.Tm.apply(lambda x: 'ANA' if x == 'MDA' else x)
df['Tm'] = df.Tm.apply(lambda x: 'CHI' if x == 'CBH' else x)
df['Tm'] = df.Tm.apply(lambda x: 'ARI' if x == 'PHX' else x)

In [13]:
df['Opp'] = df.Opp.apply(lambda x: 'ANA' if x == 'MDA' else x)
df['Opp'] = df.Opp.apply(lambda x: 'CHI' if x == 'CBH' else x)
df['Opp'] = df.Opp.apply(lambda x: 'ARI' if x == 'PHX' else x)

In [66]:
df['Player_Season_Num'] = df.apply(player_season, axis = 1)

In [74]:
df['Career_Game_Num'] = df.apply(player_num_games, axis = 1)

In [76]:
df[df.Player == 'Jaromir Jagr']

,Rk,Date,G,Age,Tm,Location,Opp,Result,Goals,Assists,PTS,PIM,Player,Season,Player_Season_Num,Career_Game_Num
549027,1,1990-10-05,1,18,PIT,A,WSH,W,0,0,0,0,Jaromir Jagr,1990-1991,1,1
549028,2,1990-10-07,2,18,PIT,H,NJD,W,1,0,1,0,Jaromir Jagr,1990-1991,1,2
549029,3,1990-10-09,3,18,PIT,A,STL,L,0,0,0,0,Jaromir Jagr,1990-1991,1,3
549030,4,1990-10-11,4,18,PIT,A,CHI,L,0,0,0,0,Jaromir Jagr,1990-1991,1,4
549031,5,1990-10-13,5,18,PIT,A,NYI,W,1,0,1,0,Jaromir Jagr,1990-1991,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
550755,18,2017-12-16,18,45,CGY,H,NSH,L,0,0,0,0,Jaromir Jagr,2017-2018,24,1729
550756,19,2017-12-17,19,45,CGY,A,VAN,W,0,0,0,2,Jaromir Jagr,2017-2018,24,1730
550757,20,2017-12-28,20,45,CGY,A,SJS,L-SO,0,0,0,2,Jaromir Jagr,2017-2018,24,1731
550758,21,2017-12-29,21,45,CGY,A,ANA,L,0,0,0,0,Jaromir Jagr,2017-2018,24,1732
550759,22,2017-12-31,22,45,CGY,H,CHI,W,0,0,0,2,Jaromir Jagr,2017-2018,24,1733

In [37]:
len(df.Player.unique())

4904

In [47]:
test = df[df.Player == 'Nathan MacKinnon']

In [58]:
player_dict = dict()
for player in df.Player.unique():
    print(f'\r{player}                           ',end='')
        
    player_dict[player] = dict()
    for season_num,season in enumerate(df[df.Player == player].Season.unique()):
        player_dict[player][season] = season_num+1

Andrei Zyuzin

In [59]:
player_dict['Sidney Crosby']

{'2005-2006': 1,
 '2006-2007': 2,
 '2007-2008': 3,
 '2008-2009': 4,
 '2009-2010': 5,
 '2010-2011': 6,
 '2011-2012': 7,
 '2012-2013': 8,
 '2013-2014': 9,
 '2014-2015': 10,
 '2015-2016': 11,
 '2016-2017': 12,
 '2017-2018': 13,
 '2018-2019': 14,
 '2019-2020': 15}

In [61]:
df.iloc[16]

Rk                   14
Date         1998-11-13
G                    14
Age                  23
Tm                  ANA
Location              A
Opp                 VAN
Result                L
Goals                 0
Assists               0
PTS                   0
PIM                   0
Player      Antti Aalto
Season        1998-1999
Name: 16, dtype: object

In [73]:
def player_season(row):
    global player_dict
    return player_dict[row.Player][row.Season]

player_game_count = dict()
def player_num_games(row):
    global player_game_count
    if row.Player in player_game_count:
        player_game_count[row.Player] += 1
    else:
        player_game_count[row.Player] = 1
    return player_game_count[row.Player]

In [63]:
player_season(df.iloc[100])

3

In [64]:
df.iloc[100]

Rk                   25
Date         1999-12-01
G                    25
Age                  24
Tm                  ANA
Location              H
Opp                 TBL
Result                L
Goals                 0
Assists               1
PTS                   1
PIM                   2
Player      Antti Aalto
Season        1999-2000
Name: 100, dtype: object

In [70]:
df2 = df.sort_values(['Player','Date'])

In [71]:
df2.head()

,Rk,Date,G,Age,Tm,Location,Opp,Result,Goals,Assists,PTS,PIM,Player,Season,Player_Season_Num
443731,1,2016-11-13,1,19,COL,H,BOS,L,0,0,0,0,A.J. Greer,2016-2017,1
443732,2,2016-11-17,2,19,COL,A,DAL,L,0,1,1,0,A.J. Greer,2016-2017,1
443733,3,2016-11-19,3,19,COL,A,MIN,W,0,0,0,2,A.J. Greer,2016-2017,1
443734,4,2016-11-21,4,19,COL,A,CBJ,W,0,0,0,0,A.J. Greer,2016-2017,1
443735,5,2016-11-23,5,19,COL,H,EDM,L,0,0,0,2,A.J. Greer,2016-2017,1

In [72]:
df.head()

,Rk,Date,G,Age,Tm,Location,Opp,Result,Goals,Assists,PTS,PIM,Player,Season,Player_Season_Num
0,1,1997-12-06,1,22,ANA,A,PIT,L,0,0,0,0,Antti Aalto,1997-1998,1
1,2,1997-12-10,2,22,ANA,H,PIT,L,0,0,0,0,Antti Aalto,1997-1998,1
2,3,1997-12-12,3,22,ANA,H,WSH,W,0,0,0,0,Antti Aalto,1997-1998,1
3,1,1998-10-10,1,23,ANA,A,WSH,L,0,0,0,0,Antti Aalto,1998-1999,2
4,2,1998-10-11,2,23,ANA,A,PHI,L,0,0,0,0,Antti Aalto,1998-1999,2

In [77]:
df.to_csv('NHL_game_log_all_cleaned.csv',index=False)